name: Extreamer-Encoder

on:
  push:
    paths:
      - 'encoder/*'
    branches: [ master ]
  pull_request:
    paths:
      - 'encoder/*'
    branches: [ master ]

defaults:
  run:
    working-directory: encoder

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        id: Build
        uses: actions/setup-node@v1.4.3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: echo "$(pwd)"
      - run: DECODED=${{ secrets.DEFAULT_SERVICE_ACCOUNT_CREDENTIALS }} | base64 --decode
      - run: echo "${DECODED}"
      - run: npm run build --if-present
      - name: Test
        id: Test
        run: npm test

      - uses: act10ns/slack@v1
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: always()

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - run: echo "$(pwd)"
      - name: Deploy to GCP
        id: Deploy
        uses: actions-hub/gcloud@307.0.0
        env:
          PROJECT_ID: ${{secrets.GCLOUD_PROJECT_ID}}
          APPLICATION_CREDENTIALS: ${{secrets.GCLOUD_CREDENTIALS}}
        with:
          args: app deploy encoder/app.yaml

      - uses: act10ns/slack@v1
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: always()
